@font-face {
  font-family: custom-sans-serif;
  src: url("../../../assets/font/NotoSansTC-Regular.otf");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: custom-sans-serif;
  src: local("Helvetica");
  unicode-range: U+00-024F;
}
html,
body {
  height: 100%;
  font-family: custom-sans-serif !important;
  font-size: 16px;
}
#root,
.wrapper {
  min-height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
html {
  @include media-breakpoint-up(md) {
    overflow-y: overlay;
  }
}
