:root {
  --primaryColor: #31E2CE;
  --SecondaryColor1:#00a886;
  --SecondaryColor2:#8C99AE;
  --neutralColors900:#000000;
  --neutralColors800:#3D3D3D;
  --neutralColors600:#6F6F6F;
  --neutralColors400:#6F6F6F;
  --neutralColors200:#D9D9D9;
  --neutralColors100:#F3F3F3;
  --neutralColors50:#FFFFFF;
}