#root .btn-customBtn1 {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #8c99ae;
  --bs-btn-border-color: #8c99ae;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #31E2CE;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 119, 130, 148;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #8c99ae;
  --bs-btn-disabled-border-color: #8c99ae;
}
.btn-outline-customBtn1 {
    --bs-btn-color: #3D3D3D;
    --bs-btn-border-color: #8C99AE;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #3D3D3D;
    --bs-btn-hover-border-color: #3D3D3D;
    --bs-btn-focus-shadow-rgb: 140, 153, 174;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #8C99AE;
    --bs-btn-active-border-color: #8C99AE;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #8C99AE;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8C99AE;
    --bs-gradient: none;
}
