.member.nav {
  @media (min-width: 768px) {
    gap: 10px;
    font-size: 20px;
    margin-bottom: 66px;
  }
  margin-bottom: 32px;

  @media (max-width: 768px) {
    .nav-item{
      flex-grow: 1;
    }
  }


  .nav-link{
    @media (min-width: 768px) {
      padding: 16px 60px;
    }

    color: var(--neutralColors900);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 0px;
    border-color: var(--bs-nav-tabs-link-active-border-color);
  }

  .nav-link.active{
    color: var(--neutralColors900);
    background-color: var(--primaryColor);
  }
}